{% extends "../node_modules/govuk-frontend/dist/govuk/template.njk" %}

{# Add all imports in case users miss it #}
{% from "../node_modules/govuk-frontend/dist/govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/button/macro.njk"           import govukButton %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/details/macro.njk"          import govukDetails %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/input/macro.njk"            import govukInput %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/panel/macro.njk"            import govukPanel %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/radios/macro.njk"           import govukRadios %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/select/macro.njk"           import govukSelect %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/table/macro.njk"            import govukTable %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/tag/macro.njk"              import govukTag %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "../node_modules/govuk-frontend/dist/govuk/components/warning-text/macro.njk"     import govukWarningText %}

{% block pageTitle %}
  {{ glitchProjectName }} – GOV.UK Example
{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="favicon.ico" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link rel="stylesheet" href="css/all.css">
  <!--<![endif]-->
  <!--[if IE 8]>
    <link rel="stylesheet" href="css/all-ie8.css">
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="html5shiv/dist/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}{% endblock %}

{% block footer %}
  <footer class="app-footer" role="contentinfo">
    <div class="govuk-width-container"> 
      <a class="govuk-link app-footer__link" href="https://twitter.com/timpaul/status/1086270159243829249">
        Original design by Dave House, build by Nick Colley.
      </a>
      <hr class="app-footer__hr"/>
      <a class="govuk-link app-footer__link" href="https://glitch.com/edit/#!/remix/{{ glitchProjectName }}">
        Make your own copy of this project on Glitch.com
      </a>
      <br>
      <br>
      <a class="govuk-link app-footer__link" href="https://glitch.com/edit/#!/{{ glitchProjectName }}">
        View the source for this project on Glitch.com
      </a>
      {% if glitchProjectName != 'hello-govuk-design-system' %}
        <hr class="app-footer__hr"/>
        <p class="govuk-body app-footer__body">
          This project is was originally remixed from the 
          <a class="govuk-link app-footer__link" href="https://glitch.com/~hello-govuk-design-system">
            "Hello GOV.UK Design System" project
          </a>, if you want to create a copy from the source.
        </p>
      {% endif %}
    </div>
  </footer>
{% endblock %}

{% block bodyEnd %}
  <script src="js/govuk-frontend/all.bundle.js"></script>
  <script src="js/all.js"></script>
{% endblock %}